<div class="container">
  <div class="row">
    <h2>商品編集</h2>
    <%= form_with model:@item,url:admin_item_path,local:true do |f| %>
      <div class="col-lg-4">
        <%= f.label :商品画像 %>
        <%= f.file_field :image %>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <%= f.label:商品名, class:"col-xs-2" %>
          <%=  f.text_field :name, size:"56x5" %>
        </div>
        <div class="form-group">
          <%= f.label:商品説明, class:"col-xs-2" %>
          <%= f.text_area :introduction, size:"55x5" %>
        </div>
        <div class="form-group">
          <%= f.label:ジャンル, class:"col-xs-2" %>
          <%= f.collection_select :genre_id, Genre.all, :id, :name,{prompt: @item.genre_id} %>
        </div>
        <div class="form-group">
          <%= f.label:税抜価格, class:"col-xs-2" %>
          ¥ <%= f.text_field :price %>
        </div>
        <div class="form-group">
          <%= f.label:販売ステータス, class:"col-xs-2" %>
          <%= f.select :is_active,[["販売中",true],["売り切れ",false]]%>
        </div>
        <div>
          <%= f.submit "変更を保存" , class: "btn btn-primary"%></td>
        </div>
      </div>
    <% end %>
  </div>
</div>