<main>
  <div class="container">

      <div>
        <h3 class="bg-light mt-3">商品詳細</h3>
      </div>
  <div class="row">
  <div class="col-5">
    <%= image_tag @item.get_image(300,250) %>
  </div>
    <div class="col-7">
      <div>
        <p class="mt-3"><strong>商品名：</strong><%= @item.name %></p>
      </div>
      <br>
      <div>
        <p><strong>商品説明：</strong><%= @item.introduction %></p>
      </div>
      <br>
      <div>
        <p><strong>ジャンル：</strong><%= @item.genre.name %></p>
      </div>
      <br>
      <div><strong><p>税込価格(税抜価格)：</strong>
          <%= @item.price.to_s(:delimited) %>
          (<%= @item.add_tax_price.to_s(:delimited) %>) 円
          </p>
      </div>
      <br>
      <div><p><strong>販売ステータス：</strong>
        <% if @item.is_active == true %>
          <%= "販売中" %>
        <% else %>
          <%= "販売停止中" %>
        <% end %>
        </p>
      </div>
      <div>
      <%= link_to "編集する",edit_admin_item_path(@item), class:"btn btn-primary" %>
      </div>
      </div>
    </div>
  </div>
</main>