<div class="container">
  <h1>会員一覧</h1>
  <div class="row">
    <div class="col-xs-10">
      <table class="table customer-table">
        <thead>
          <tr>
            <th class="active">会員ID</th>
            <th class="active">氏名</th>
            <th class="active">メールアドレス</th>
            <th class="active">ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td>
                <%= customer.id %>
              </td>
              <td>
                <%= link_to (customer.last_name + customer.first_name),admin_customer_path(customer.id) %>
              </td>
              <td>
                <%= customer.email %>
              </td>
              <td>
                <% if customer.is_deleted %>
                  <%= 退会済み %>
                <% else %>
                  <%= 有効 %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>