<div class="container">
  <h1><%= (@customer.last_name + @customer.first_name) %>さんの会員詳細</h1>
  <div class="row">
    <div class="col-xs-7">
      <div>
        <p>
          <strong class="col-xs-3">顧客ID</strong><%= @customer.id %>
          <% if @customer.is_deleted %>
            <span class="bg-danger">退会済</span>
          <% else %>
            <span class="bg-primary">有効会員</span>
          <% end %>
        </p>
      </div>
      <br>
      <div>
        <p><strong class="col-xs-3">氏名</strong><%= (@customer.last_name + @customer.first_name) %></p>
      </div>
      <br>
      <div>
        <p><strong class="col-xs-3">カナ</strong><%= (@customer.last_name_kana + @customer.first_name_kana) %></p>
      </div>
      <br>
      <div>
        <p><strong class="col-xs-3">郵便番号</strong><%= @customer.postal_code.to_s.insert(3, "-") %></p>
      </div>
      <br>
      <div>
        <p><strong class="col-xs-3">住所</strong><%= @customer.address %></p>
      </div>
      </br>
      <div>
        <p><strong class="col-xs-3">電話番号</strong><%= @customer.telephone_number %></p>
      </div>
      </br>
      <div>
        <p><strong class="col-xs-3">メールアドレス</strong><%= @customer.email %></p>
      </div>
      </br>
      <span>
        <%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-primary" %>
  	  </span>
  	  <span><%= link_to "注文履歴一覧を見る", admin_orders_path, class: "btn btn-primary" %></span>
  	</div>
  </div>
</div>