<main>
  <h2>配送先登録/一覧</h2>

  <%= form_with model:@address,url:addresses_path do |f| %>
    <div>
      <%= f.label :"郵便番号(ハイフンなし)" %>
    </div>
    <div>
      <%= f.text_field :postal_code %>
    </div>
    <div>
      <%= f.label :"住所" %>
    </div>
    <div>
      <%= f.text_field :address %>
    </div>
    <div>
      <%= f.label :"宛名" %>
    </div>
    <div>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.submit '新規登録' %>
    </div>
  <% end %>
  <table>
    <thead>
      <tr>
       <th>郵便番号</th>
       <th>住所</th>
       <th>宛名</th>
       <th></th>
      </tr>
    </thead>
    <tbody>
      <% @addresses.each do |address| %>
      <tr>
        <td><%= address.postal_code.to_s.insert(3, "-") %></td>
        <td><%= address.address %></td>
        <td><%= address.name %></td>
        <td><%= link_to "編集する", edit_address_path(address) %>
            <%= link_to "削除する", address_path(address), method: :delete %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

</main>