<main>
  <%= image_tag @item.get_image(100,100) %>
  <h2><%= @item.name %></h2><br>
  <p class="product-introduction"><%= @item.introduction %></p>
  <h3>¥<%= (@item.add_tax_price).to_s(:delimited) %><span>（税込）</span></h3>
  
  <%= form_with model: @cart_item, url: cart_items_path do |f| %>
    <%= f.hidden_field :item_id, :value => @item.id %>
    <%= f.hidden_field :customer_id, :value => @customer.id %>
    <%= f.select :amount, *[1..20] %>
    <%= f.submit 'カートに入れる', class: "btn-sm btn-primary" %>
  <% end %>
  
</main>